/*form{
	margin: 0;
}*/
head{
	width: 100%;
}
body{
	background: url(../img/edmonton.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #0070BE;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: Arial;
	width: 100%;
	height: 30em;
	margin: auto;
}
#header{
	padding: 1em 0;
	height: 5em;
	width: 100%;
	background-color: #F7F7F7;
	/*border: 0.1em solid yellow;*/
}
#header img {
	height: 5em;
	width: 20em;
	margin-left: 10%;
}
/*====================menu========================*/

.menu{
	position: fixed;
	left: 0;
  	top: 50%;
	width: 20%;
	height: 30%;
	z-index: 10;
}
.menu ul{
	color: #F7F7F7;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 1.5em;
}
.menu ul li{
	display:block;
	width: 50%;
	height: 10%;
	box-shadow: 1em 0 0.9em 0.3em rgba(78, 76, 76, 1);
}
.menu li a{
	color:#fff;
	background: rgba(78, 76, 76, 0.62);
	font-size:100%;
	font-weight: bold;
	/*text-shadow: 0 0 0.4em #000;*/
	text-align: center;
	text-shadow:2px 2px 5px gray;
	padding: 1em 0;
	display: block;
 /* -webkit-border-radius:.5em;
  	 -moz-border-radius:.5em;
 		  border-radius:.5em;*/ 
 	/*box-shadow: 0 0 1em 0 #999;*/
}
.menu ul li:hover{
	width: 90%;
}
/*.menu li a:hover a{
	transition: all 0.2s linear;
}*/
.menu ul li.active a{
	background: #002B5E;
	
}
/*====================navigation========================*/
.nav{
	text-transform:uppercase;
	background-color: #F7F7F7;
	max-width: 100%;
}
.nav ul{
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #8A8987;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 1.5em;

    box-shadow: 0 0 0.5em 0.5em gray inset; 

}
.nav ul li{
	display:inline-block;
	width: 19%;
	box-shadow: -1em 0 0.8em 0.3em #8A8987;
}
.nav li a{
	color:#fff;
	background: #333;
	font-size:100%;
	font-weight: bold;
	/*text-shadow: 0 0 0.4em #000;*/
	text-align: center;
	text-shadow:2px 2px 5px gray;
	padding: 8% 0;
	display: block;
  -webkit-border-radius:.3em;
  	 -moz-border-radius:.3em;
 		  border-radius:.3em; 
 	/*box-shadow: 0 0 1em 0 #999;*/
}
.nav li a:hover,
.nav ul li.active a{
	background: #002B5E;
	
}
/*====================end of navigation========================*/
.transparency_filter{
	z-index: -1;
	position: fixed;
	opacity: 0.2;
	height: 100%;
	width: 100%;
	background-color: white;
}
.wrap{
	margin: auto;
	width: 80%;
}
#introduction{
	padding: 2em 2em;
	z-index: 2;
	opacity: 0.7;
	background-color: white;
}
#introduction p {
	font-size: 14;
	font-weight: bold;

}

.right_content{
	padding: 4em 2em 6.5em 2em;
	float: right;
	width: 82%;
	z-index: 2;
	opacity: 0.9;
	background-color: white;
}
.right_content h1 {
	font-size: 20;
	font-weight: bold;
	color: #F7F7F7;
	text-shadow:2px 2px 5px gray;
}
/*#menu{
	float: left;
	margin: 1em 0;
	width: 20%;
	height: 35em;
	border: 0.1em solid black;
	background: rgba(0, 0, 255, 0.5);
}*/

#map, #algorithm_map{
	float: right;
	width: 100%;
	height: 35em;
	margin: 1em 0;
	/*border: 0.1em solid red;*/
	/*background: rgba(255, 255, 0, 1);*/
}

/*================check list===================*/
#checklist{
	float: right;
	position: absolute;
	z-index: 3;
	margin-top: 3em;
	margin-left: 60%;
	margin-bottom: 5em;
	width: 17%;
	height: auto;
	max-height: 30em;
	/*border: 0.1em solid blue;*/
	background: transparent;

}
#checklist_title, .checklist_subtitle{
	height: auto;
	width: 100%;
	float: left;
	background: rgba(156, 156, 156, 0.5);
}
/*#min_max{
	border: solid 0.1em;
	width: 10%;
	height: 100%;
	float: right;
	cursor: pointer;
}*/
#button{
	width: 2em;
	height: 2em;
	float: right;
	cursor: pointer;
	border-radius: 1em;
}
#button img{
	width: 1em; 
	height: 1em;
	margin-left: -0.6em;
	margin-top: -0.2em;
}
#f1_button img{
	width: 1em; 
	height: 1em;
	margin-left: -0.6em;
	margin-top: -0.2em;
}
#f2_button img{
	width: 1em; 
	height: 1em;
	margin-left: -0.6em;
	margin-top: -0.2em;
}
#f3_button img{
	width: 1em; 
	height: 1em;
	margin-left: -0.6em;
	margin-top: -0.2em;
}
#f4_button img{
	width: 1em; 
	height: 1em;
	margin-left: -0.6em;
	margin-top: -0.2em;
}
#f5_button img{
	width: 1em; 
	height: 1em;
	margin-left: -0.6em;
	margin-top: -0.2em;
}
#f6_button img{
	width: 1em; 
	height: 1em;
	margin-left: -0.6em;
	margin-top: -0.2em;
}
#f7_button img{
	width: 1em; 
	height: 1em;
	margin-left: -0.6em;
	margin-top: -0.2em;
}
#f8_button img{
	width: 1em; 
	height: 1em;
	margin-left: -0.6em;
	margin-top: -0.2em;
}

#f1_button, #f2_button, #f3_button, #f4_button, #f5_button, #f6_button, #f7_button, #f8_button{
	width: 2em;
	height: 2em;
	float: left;
	cursor: pointer;
	border-radius: 1em;
}

#checklist_content{
	/*margin-top: -1.5em;*/
	max-height: 25em;
	overflow: auto;
	background-color: #F7F7F7;
	float: right;
}
#checklist_content p{
	padding: 1em 0;
	position: relative;
	float: left;
}
#service_category, #ward, #neighbourhood, #request_status, #month, #bylaw_year, #complaint, #bylaw_status{
	/*margin-top: -1.5em;*/
	width: 80%;
	height: auto;
	float: left;
	margin-left: 13%;
	background-color: #F7F7F7;
	position: relative;
	display: block;
}
#service_category form {
	font-size: 11;
}
#ward form {
	font-size: 11;
}
#neighbourhood form{
	font-size: 11;
}
#request_status form{
	font-size: 11;
}
#month form{
	font-size: 11;
}
#bylaw_year form{
	font-size: 11;
}
#complaint form{
	font-size: 11;
}
#bylaw_status form{
	font-size: 11;
}

/*==================algorithm page===========================*/
#algorithm_button{
	width: 100%;
	height: 10%;
}
#algorithm_button ul{
	margin: 1em 0;
	margin-left: 5%;
}
#algorithm_button li{
	color:#fff;
	background: #333;
	text-align: center;
	text-shadow:2px 2px 5px gray;
	padding: 4% 0;
	-webkit-border-radius:.3em;
  	 -moz-border-radius:.3em;
 		  border-radius:.3em; 
	display: inline-block;
	width: 30%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}
#algorithm_button li a{
	color: #fff;
	padding: 0 1em;
}
#algorithm_button li form{
	padding: 0 1em;
}

.tabs{
	width:7%; 
	height: 20%;
	padding-left: 2%;
	float:left;
}
.tabs li{ 
	float: left;
	position: relative;
	width: 200%;
	padding: 1em 0.2em;
	height: 2em;
	border-radius: 1.9em 0 0 0.5em;
	box-shadow: -0.7em 0 1em rgba(0,0,0,0.5);
	background:#999; 
	cursor:pointer;
	list-style-type: none;
}
.tabs li a {
	padding: 0.6em;
	font-weight: bold;
	font-size: 90%;
	text-shadow: 0 0 0.2em #999;
}
.tabs li:hover {
	z-index: 1;
	background:  none repeat scroll #b0b0b0;
	text-shadow: 0 0 0.2em #999;
}
.tabs li.active{
	z-index: 1;
	background: none repeat scroll #fff;
	text-shadow: none;
}
.result_box{
	position: relative;
	z-index: 1;
	width:70%;
	max-height: 30em;
	float: left; 
	padding: 3em;
	margin-left: 2em;
	background:white;
	box-shadow: 0 0 1em rgba(0,0,0,0.5);
	border-radius: 1em 1em 1em 1em;
	overflow: scroll;
	word-spacing: 1em;
}









/*===========================end algorithm page=============================*/


#detail, #detail2{
	float: left;
	width: 90%;
	height: auto;
	margin: 0 5% 1% 5%;
	/*border: 0.1em solid green;*/
	min-height: 100px;
	overflow: hidden;
	padding: 2em 2em;
	z-index: 2;
	opacity: 0.9;
	background-color: white;
}
.bottom_bar{
	color: #F7F7F7;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1em;
	background-color: rgba(78, 76, 76, 0.63);
	transition: height 1s; /* delays for 1 second */
	-webkit-transition: height 1s; /* for Safari & Chrome */
}
.bottom_bar:hover{
	height: 6em;
	
}
.bottom_bar img {
	float: left;
	height: 3.5em;
	width: 14em;
	margin-left: 1.5%;
	margin-top: 1.5%;
}
.bottom_bar p{
	float: left;
	margin-left: 5%;
}
.bottom_bar ul{
	float: left;
	margin-left: 5%;
	padding: 0;
}
.bottom_bar ul li{
	display: inline-block;
}
.bottom_bar ul li a{
	text-decoration: none;
	font-size:100%;
	text-align: center;
	color: #f7f7f7;
}
footer{
	float: left;
	margin: auto;
	width: 100%;
	background-color: #F7F7F7;
}
.foot_wrap {
	width: 80%;
	margin-left: 10%;
}
.foot_wrap p{
	/*margin-left: 12.5%*/
	text-align: center;
	font-size: 17;
}
.quick_link{
	margin: 1em 5em;
}
.quick_link ul{
	color:#fff;
	background: #333;

	font-weight: bold;
	margin-left: 2em;
	margin-right: 2em;
	line-height: 2em;
	font-weight: bold;
	font-size: 15;
	box-shadow: -1em 0 0.8em 0.3em #8A8987;
	-webkit-border-radius:.3em;
  	 -moz-border-radius:.3em;
 		  border-radius:.3em; 
}
.quick_link ul li{
	line-height: 1.5em;
	font-size: 13;
	color:#fff;
}
.quick_link ul li a{
	color:#fff;
	background: #333
}

#sweta {
	/*float: left;*/
	width: 40%;
	height: auto;
	margin: auto;
	/*border: 0.1em solid green;*/
	background-color: 	#6f8f45;
	min-height: 100px;
	overflow: hidden;

}

tr{
	background: -moz-linear-gradient(top, #ffffff, #D1E3E9);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#D1E3E9));
	text-align:center;
}
		 
tr:hover{
	background: -moz-linear-gradient(top, #249ee4, #057cc0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#249ee4), to(#057cc0));
}
		 
tr:active{
	background: -moz-linear-gradient(top, #057cc0, #249ee4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#057cc0), to(#249ee4));
}
		 
#result, #result2{
	font-weight:bold;
	font-size:16pt;
}			
.highlighted {
	cursor: pointer;
	background: -moz-linear-gradient(top, #249ee4, #057cc0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#249ee4), to(#057cc0));
	font: bold 18px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    color: rgb(84, 255, 0);
}		
.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}
